@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
// @import "../node_modules/font-awesome/css/font-awesome.min.css";

//globals
html {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 0.96rem;
}

//topbar
#top-bar {
  height: 2.9rem;
  color: whitesmoke;
  font-size: 1.1rem;

  .container {
    padding: 0.5rem 0;
  }
}
#inspirations {
  padding-top: 4rem;
}

#goals {
  padding: 4rem 0;
}

//navbar
.navbar {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1500;

  .navbar-brand {
    cursor: pointer;
  }

  .nav-item {
    padding: 0 0.5rem;
    color: #5b5555 !important;

    a {
      cursor: pointer;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }

      &.active {
        color: #85499c !important;
        border-bottom: 1px solid #d7dbdf !important;
      }
    }
  }
}

.watch-movie {
  position: absolute;
  bottom: 0;
}

.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
  &#top-bar {
    padding: 0;
  }
  padding: 4rem 0 0 0;
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
}
.fixed {
  // background-image: url("/img/background.jpg");
  background-image: url("../img/matterhorn.jpg");
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  position: fixed;
}

.special-card {
  // opacity: 0.4;s
  background-color: rgba(245, 245, 245, 0.8);

  img {
    display: block;
    max-width: 230px;
    max-height: 250px;
    width: auto;
    height: auto;
    opacity: 1 !important;
  }

  div {
    font-weight: 500;
    font-size: 1.1rem;
  }
}

.footer {
  color: #a89e9e !important;

  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #918a8a !important;

    &.active,
    &:hover {
      font-weight: 600;
      color: #7d7777 !important;
    }
  }
}

.special-bg {
  background-color: rgba(245, 245, 245, 0.9);
  margin-top: 4rem;
}

// .fade-appear {
//   opacity: 0;
// }

// .fade-appear.fade-appear-active {
//   opacity: 1;
//   transition: opacity 500ms linear;
// }

.enter {
  opacity: 0;
  z-index: 100;
}

.enter.enter-active {
  opacity: 1;
  transition: opacity 600ms linear 300ms;
}

.exit {
  opacity: 1;
}

.exit.exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.exit-done {
  opacity: 0;
}

.enter-done {
  opacity: 1;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.73s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-image: linear-gradient(white, 90%, pink);
  color: white;
  transform: rotateY(180deg);
}

.insp-link {
  color: #212529;
  transition: 0.3s;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #85499c;
  }
}

.film-link {
  font-weight: 500;
  margin-top: 0.5rem;
}
